$defaultFont: monaco,Consolas,Lucida Console,monospace;
$defaultFontSize: 18px;
$defaultFontColor: #CCCCCC;

$defaultBgColor: #1F1F1F;

$urlHoverTransSpeedIn: .1s;
$urlHoverTransSpeedOut: .1s;
$hoverColor: #212B35;

$minWidForImages: 48em;
$minWidForSidebar: 80em;
$sidebarWidth: 17em;

@mixin defaults {
	font-family: $defaultFont;
	font-size: $defaultFontSize;
	color: $defaultFontColor;

	background-color: $defaultBgColor;

	a {
		color: #7C7C7C;
	}

	a:link {
		text-decoration: none;
	}

	a:hover {
		color: #FFFFFF;
	}
}