$defaultFont: monaco,Consolas,Lucida Console,monospace;
$defaultFontSize: 16px;
$defaultFontColor: #CCCCCC;

$bgColor: #1F1F1F;
$bgColorDark: #181818;
$hoverColor: #212B35;

$urlHoverTransSpeedIn: .1s;
$urlHoverTransSpeedOut: .1s;

$minWidForImages: 48em;
$minWidForSidebar: 80em;
$sidebarWidth: 17em;

@mixin defaults {
	font-family: $defaultFont;
	font-size: $defaultFontSize;
	color: $defaultFontColor;

	background-color: $bgColor;

	a:link {
		text-decoration: none;
	}
}

@mixin urlTransition {
	-o-transition: background-color $urlHoverTransSpeedIn ease-in;
	-ms-transition: background-color $urlHoverTransSpeedIn ease-in;
	-moz-transition: background-color $urlHoverTransSpeedIn ease-in;
	-webkit-transition: background-color $urlHoverTransSpeedIn ease-in;

	transition:color $urlHoverTransSpeedOut ease-out, background-color $urlHoverTransSpeedIn ease-in;
}