@import "defaults";
@import "topbar";
@import "sidebar";
@import "bottombar";
@import "sections";
@import "project";

html {
  scroll-behavior: smooth;
}

#all {
  min-height: 100%;
  position:relative;
}

body {
	@include defaults;
}

html, body {
  height: 100%;

}