@import "defaults";
@import "topbar";
@import "sidebar";
@import "bottombar";
@import "sections";
@import "project";

html {
  scroll-behavior: smooth;
}

#all {
  min-height: 100%;
  position:relative;
}

body {
	@include defaults;
}

html, body {
  height: 100%;
}

:root {
  --scroll: 0;
}

a {
  color: #7CDCF0;
  border-radius: 4px;

  text-decoration: none;

  @include urlTransition;
}

a:hover { 
  background-color: #264F78; 
}