@import "defaults";

.project-image {
	float:right;
	width: 380px;
	height: 256px;
	border-radius: 5%;
}


.project-description {
	width: 50%;
	min-width: 20em;
}

.project-stack {
	display: inline-block;
	list-style: none;
	padding-left: 0;

	ul {
		display: block; 
		overflow: hidden;
	}
	
	li {
		padding-right: 1em;
		float: left;
	}
}

.project-links {
	display: inline-block;
	list-style: none;
	padding-left: 0;

	ul {
		display: block; 
		overflow: hidden;
	}
	
	li {
		padding-right: 1em;
		float: left;
	}
}

.project-block {
	font-size: 24px;
	padding-top: 50px;
}

.project-block-end {
	padding-bottom: 50px;
}

.project-block-end:before {
	font-size: 24px;
}

@media only screen and (max-width: $minWidForImages) {
	#sections {
		padding-left: 0em;

		.project-image {
			display:none;
		}
	}
}


@media only screen and (max-width: $minWidForSidebar) {
	#sections {
		padding-left: 0em;

		.project-image {
			float: none;
		}
	}
}