@import "defaults";
@import "codeblock";

$nameFontColor: #55c1f3;

$sectionWidth: 55em;
$contentWidth: 60%;
$contentPaddingHoriz: 1%;

#sections {
	
	padding-left: $sidebarWidth + 4em;
	padding-top: 200px;

	.section {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: $tabWidth;
		width: $sectionWidth;
		@include indent;
	}

	@mixin section-content-defaults {
		padding-right: $contentPaddingHoriz;
		padding-left: $contentPaddingHoriz;
		display: inline-block;
	}

	.section-text-no-image {
		@include section-content-defaults;
		width: 98%;
	}

	.section-text {
		@include section-content-defaults;
		width: $contentWidth;
	}

	.section-image {
		max-width: 256px;
		max-height: 256px;
		border-radius: 50%;
		margin-bottom: 3em;
	}

	#name {
		font-style: italic;
		color: $nameFontColor;
	}
}

@media only screen and (max-width: 60em) {
	#sections {
		padding-left: 0em;

		.section {
			width: $sectionWidth - 10em;
		}
	}
}

@media only screen and (max-width: 40em) {
	#sections {
		padding-left: 0em;

		.section {
			width: $sectionWidth - 20em;
		}
	}
}