@import "defaults";
@import "codeblock";

$nameFontColor: #55c1f3;

$sectionWidth: 50em;
$contentWidth: 30em;
$contentPaddingHoriz: 1%;

#sections {
	
	margin: auto;
	
	padding-left: $sidebarWidth + $tabWidth;
	padding-top: 200px;

	@mixin section-content-defaults {
		padding-right: $contentPaddingHoriz;
		padding-left: $contentPaddingHoriz;
		display: inline-block;
	}

	.sectionbounds {
		width: calc($sectionWidth + $tabWidth);
		margin: auto;
	}

	.section {
		padding-top: 50px;
		padding-bottom: 50px;
		width: $sectionWidth;
		@include indent;

		margin: 0 auto;
	}

	.section-text {
		@include section-content-defaults;
		
		padding-left: $tabWidth;
		width: 98%;
	}

	.section-image {
		width: 256px;
		height: 256px;
		margin-right: 8em;
		border-radius: 50%;
		float:right;
	}	

	.skills {
		width: 20em;

		ul {
			list-style: none;
			display: block; 
			overflow: hidden;
		}
		
		li {
			width: 44%;
			float: left;
			margin-top: 1em;
		}
	}

	#name {
		font-style: italic;
		color: $nameFontColor;
	}
}

@media only screen and (max-width: $minWidForSidebar) {
	#sections {
		padding-left: 0em;


		.entrypoint {
			width: $sectionWidth - 10em;
		}

		.section-image {
			float: bottom;
		}
	}
}

@media only screen and (max-width: $minWidForImages) {
	#sections {
		margin: 0;

		.section {
			width: $sectionWidth - 20em;
			margin: 0;
		}

		.section-text {
			width: $contentWidth - 2em;
		}

		.entrypoint {
			width: $sectionWidth - 20em;
			margin: 0;
		}

		.section-image {
			display:none;
		}
	}
}