@import "defaults";

$bgColor: #181818;
$topbarHeight: 42px;
$fontSize: 14px;
$topPadding: calc(($topbarHeight - $fontSize) / 2) - 2;

#topbar {
	background-color: $bgColor;

	position: fixed;
	width: 100%;
	height: $topbarHeight;
	top: 0px;
	left: 0px;
	z-index: 90 !important;

	overflow: hidden;

	img {
		float: left;
		padding: 6px 6px;
    	margin-right:-100%;
	}

	nav {
		float: right;

		a {
			float: left;
			color: #f2f2f2;
			padding: $topPadding 0px;

			text-decoration: none;
			font-size: $fontSize;

			-o-transition: background-color $urlHoverTransSpeedIn ease-in;
			-ms-transition: background-color $urlHoverTransSpeedIn ease-in;
			-moz-transition: background-color $urlHoverTransSpeedIn ease-in;
			-webkit-transition: background-color $urlHoverTransSpeedIn ease-in;
	
			transition:color $urlHoverTransSpeedOut ease-out, background-color $urlHoverTransSpeedIn ease-in;
		}
		a:hover { 
			background-color: $hoverColor; 
		}
	}
}