@import "defaults";

$topbarHeight: 42px;
$fontSize: 16px;
$topPadding: calc(($topbarHeight - $fontSize) / 2) - 2;

#topbar {
	background-color: $bgColorDark;

	position: fixed;
	width: 100%;
	height: $topbarHeight;
	top: 0px;
	left: 0px;
	z-index: 90 !important;

	overflow: hidden;

	a {
		float: left;
		color: #f2f2f2;
		padding: $topPadding 9px;

		text-decoration: none;
		font-size: $fontSize;

		@include urlTransition;
	}
	a:hover { 
		background-color: $hoverColor; 
	}

	img {
		float: left;
		padding: $topPadding 9px;
    	margin-right:-100%;
	}

	nav {
		float: right;
	}

	.dropdown {
		display: none;
		position: fixed;
		top: 4px;
		size: 1.5;
		border-radius: 4px;
		padding: 8px;
		right: $topPadding;

		@include urlTransition;
	}

	.dropdown-content {
		display: none;
		position: fixed;
		right: 0;
		top: $topbarHeight - 4px;
		size: 1;
		background-color: $bgColorDark;
		width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 99;

		a {
			padding: 12px 16px;
			display: block;
			width: 127px;
		}
	}

	.dropdown:hover {
		background-color: $hoverColor; 

		.dropdown-content {
			display: block;
		}
	}

	.dropdown:focus .dropdown-content {
		display: block;
	}

	@media only screen and (max-width: $minWidForImages) {
		nav {
			display: none;
		}
	
		.dropdown {
			display: block;
		}
	}
}