@import "defaults";

$bgColor: #181818;
$height: 42px;
$fontSize: 18px;
$topPadding: calc(($height - $fontSize) / 2) - 2;

#topbar {
	background-color: $bgColor;

	position: fixed;
	width: 100%;
	height: $height;
	top: 0px;
	left: 0px;
	z-index: 99 !important;

	overflow: hidden;

	img {
		float: left;
		padding: 6px 6px;
    margin-right:-100%;
	}

	nav {
		float: right;

		a {
			float: left;
			color: #f2f2f2;
			padding: $topPadding 16px;

			text-decoration: none;
			font-size: $fontSize;
		}
	}
}