#topbar {
  background-color: #181818;
  position: fixed;
  width: 100%;
  height: 42px;
  top: 0px;
  left: 0px;
  z-index: 99 !important;
  overflow: hidden;
}
#topbar img {
  float: left;
  padding: 6px 6px;
  margin-right: -100%;
}
#topbar nav {
  float: right;
}
#topbar nav a {
  float: left;
  color: #f2f2f2;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  -o-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-out, background-color 0.1s ease-in;
}
#topbar nav a:hover {
  background-color: #212B35;
}

#topbar {
  background-color: #181818;
  position: fixed;
  width: 100%;
  height: 42px;
  top: 0px;
  left: 0px;
  z-index: 99 !important;
  overflow: hidden;
}
#topbar img {
  float: left;
  padding: 6px 6px;
  margin-right: -100%;
}
#topbar nav {
  float: right;
}
#topbar nav a {
  float: left;
  color: #f2f2f2;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  -o-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-out, background-color 0.1s ease-in;
}
#topbar nav a:hover {
  background-color: #212B35;
}

#sidebar {
  background-color: #181818;
  border: 1px solid #2B2B2B;
  position: fixed;
  width: 17em;
  height: 100%;
  top: 42px;
  left: 0px;
  z-index: 99 !important;
  overflow: hidden;
}
#sidebar .icons {
  position: fixed;
  width: 1em;
  height: 100%;
  font-size: 1.75em;
  padding: 0em 0.25em;
  border-right: 1px solid #2B2B2B;
}
#sidebar .icons i {
  padding-top: 0.5em;
}
#sidebar .icons a {
  color: #7C7C7C;
}
#sidebar .icons a:hover {
  color: #FFFFFF;
}
#sidebar .explorer {
  position: fixed;
  left: 4em;
  padding: 1em 0.25em;
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-size: 0.8em;
}
#sidebar .explorer a {
  color: white;
}
#sidebar .explorer a:link {
  text-decoration: none;
}
#sidebar .explorer a:visited {
  text-decoration: none;
}
#sidebar .explorer a:hover {
  text-decoration: none;
  background-color: #37373D;
}
#sidebar .explorer a:active {
  text-decoration: none;
  background-color: #04395E;
}
#sidebar .explorer ul li {
  position: relative;
  padding-bottom: 5px;
  left: 5px;
}
#sidebar .explorer ul {
  list-style: none;
  border-left: 2px solid #404040;
  padding: 0px;
  padding-left: 5px;
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#sidebar .explorer summary {
  list-style-type: none; /* Firefox */
  position: relative;
  left: 30px;
  cursor: pointer;
  display: block;
  user-select: none;
}
#sidebar .explorer summary::-webkit-details-marker {
  display: none; /* Chrome */
}
#sidebar .explorer summary:before {
  content: "";
  position: absolute;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  width: 5px;
  height: 5px;
  top: 5px;
  left: -20px;
  transform: rotate(-45deg);
}
#sidebar .explorer details[open] summary:before {
  transform: rotate(45deg);
}

@media only screen and (max-width: 60em) {
  #sidebar {
    display: none;
  }
}
.header {
  background-color: #1F1F1F;
  padding-right: 4px;
  font-weight: bold;
  font-size: 36px;
  color: #D7AB4C;
}

.header:after {
  content: " {";
  color: #CE70B3;
}

.body {
  border-left: 2px solid #404040;
  background-color: #1F1F1F;
  padding-right: 4px;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

.footer:before {
  content: "}";
  white-space: pre;
  font-weight: bold;
  font-size: 36px;
  color: #CE70B3;
}

#sections {
  padding-left: 21em;
  padding-top: 200px;
}
#sections .section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  width: 55em;
  border-left: 2px solid #404040;
}
#sections .section-text-no-image {
  padding-right: 1%;
  padding-left: 1%;
  display: inline-block;
  width: 98%;
}
#sections .section-text {
  padding-right: 1%;
  padding-left: 1%;
  display: inline-block;
  width: 60%;
}
#sections .section-image {
  max-width: 256px;
  max-height: 256px;
  border-radius: 50%;
  margin-bottom: 3em;
}
#sections #name {
  font-style: italic;
  color: #55c1f3;
}

@media only screen and (max-width: 60em) {
  #sections {
    padding-left: 0em;
  }
  #sections .section {
    width: 45em;
  }
}
@media only screen and (max-width: 40em) {
  #sections {
    padding-left: 0em;
  }
  #sections .section {
    width: 35em;
  }
}
.project-image {
  float: right;
  width: 380px;
  height: 256px;
  border-radius: 5%;
}

.project-description {
  width: 50%;
}

.project-block {
  font-size: 24px;
  padding-top: 50px;
}

.project-block-end {
  padding-bottom: 50px;
}

.project-block-end:before {
  font-size: 24px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-size: 18px;
  color: #CCCCCC;
  background-color: #1F1F1F;
}

/*# sourceMappingURL=index.css.map */
