#topbar {
  background-color: #181818;
  position: fixed;
  width: 100%;
  height: 42px;
  top: 0px;
  left: 0px;
  z-index: 90 !important;
  overflow: hidden;
}
#topbar img {
  float: left;
  padding: 6px 6px;
  margin-right: -100%;
}
#topbar nav {
  float: right;
}
#topbar nav a {
  float: left;
  color: #f2f2f2;
  padding: 11px 9px;
  text-decoration: none;
  font-size: 16px;
  -o-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-out, background-color 0.1s ease-in;
}
#topbar nav a:hover {
  background-color: #212B35;
}

#topbar {
  background-color: #181818;
  position: fixed;
  width: 100%;
  height: 42px;
  top: 0px;
  left: 0px;
  z-index: 90 !important;
  overflow: hidden;
}
#topbar img {
  float: left;
  padding: 6px 6px;
  margin-right: -100%;
}
#topbar nav {
  float: right;
}
#topbar nav a {
  float: left;
  color: #f2f2f2;
  padding: 11px 9px;
  text-decoration: none;
  font-size: 16px;
  -o-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-out, background-color 0.1s ease-in;
}
#topbar nav a:hover {
  background-color: #212B35;
}

#sidebar {
  background-color: #181818;
  border: 1px solid #2B2B2B;
  position: fixed;
  width: 17em;
  height: 100%;
  top: 42px;
  left: 0px;
  overflow: hidden;
}
#sidebar a {
  color: #7C7C7C;
}
#sidebar a:hover {
  color: #FFFFFF;
  background: none;
}
#sidebar .icons {
  position: fixed;
  width: 1em;
  height: 100%;
  font-size: 1.75em;
  padding: 0em 0.25em;
  border-right: 1px solid #2B2B2B;
}
#sidebar .icons i {
  padding-top: 0.5em;
}
#sidebar .explorer {
  position: fixed;
  left: 4em;
  padding: 1em 0.25em;
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-size: 0.8em;
}
#sidebar .explorer a {
  color: #CCCCCC;
  transition: none;
}
#sidebar .explorer i {
  color: #DD7726;
}
#sidebar .explorer a:link {
  text-decoration: none;
}
#sidebar .explorer a:hover {
  text-decoration: none;
  background-color: #37373D;
}
#sidebar .explorer a:focus {
  text-decoration: none;
  background-color: #04395E;
  border: 1px solid #0078D4;
  color: #FFFFFF;
}
#sidebar .explorer ul li {
  position: relative;
  padding-bottom: 5px;
  left: 5px;
}
#sidebar .explorer ul {
  list-style: none;
  border-left: 1px solid #404040;
  padding: 0px;
  padding-left: 5px;
  margin-left: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#sidebar .explorer summary {
  list-style-type: none; /* Firefox */
  position: relative;
  left: 25px;
  cursor: pointer;
  display: block;
  user-select: none;
}
#sidebar .explorer summary::-webkit-details-marker {
  display: none; /* Chrome */
}
#sidebar .explorer summary:before {
  content: "";
  position: absolute;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  width: 5px;
  height: 5px;
  top: 5px;
  left: -20px;
  transform: rotate(-45deg);
}
#sidebar .explorer details[open] summary:before {
  transform: rotate(45deg);
}

.portfolio {
  list-style-type: none;
  position: relative;
  left: 30px;
  cursor: pointer;
  display: block;
  user-select: none;
}

.portfolio:before {
  content: "";
  position: absolute;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  width: 5px;
  height: 5px;
  top: 5px;
  left: -20px;
  transform: rotate(45deg);
}

@media only screen and (max-width: 80em) {
  #sidebar {
    display: none;
  }
}
#credit {
  margin-top: 5em;
  color: #CCCCCC;
  text-align: center;
  width: 100%;
  height: 3em;
  left: 0;
  bottom: 0;
}

.header {
  font-size: 36px;
  background-color: #1F1F1F;
  padding-right: 4px;
  font-weight: bold;
  color: #D7AB4C;
}

.header:after {
  content: " { ";
  color: #CE70B3;
}

.body {
  border-left: 2px solid #404040;
  background-color: #1F1F1F;
  padding-right: 4px;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
}

.footer:before {
  content: "}";
  white-space: pre;
  font-weight: bold;
  font-size: 36px;
  color: #CE70B3;
}

@media only screen and (max-width: 48em) {
  #sections {
    padding-left: 0em;
  }
  .body {
    width: 75%;
  }
}
#sections {
  margin: auto;
  padding-left: 18em;
  padding-top: 200px;
}
#sections .sectionbounds {
  width: 51em;
  margin: auto;
}
#sections .section {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 50em;
  border-left: 2px solid #404040;
  margin: 0 auto;
}
#sections .section-text {
  padding-right: 1%;
  padding-left: 1%;
  display: inline-block;
  padding-left: 1em;
  width: 98%;
}
#sections .section-image {
  width: 256px;
  height: 256px;
  margin-right: 8em;
  border-radius: 50%;
  float: right;
}
#sections .skills {
  width: 20em;
}
#sections .skills ul {
  list-style: none;
  display: block;
  overflow: hidden;
}
#sections .skills li {
  width: 44%;
  float: left;
  margin-top: 1em;
}
#sections #name {
  font-style: italic;
  color: #55c1f3;
}

@media only screen and (max-width: 80em) {
  #sections {
    padding-left: 0em;
  }
  #sections .entrypoint {
    width: 40em;
  }
  #sections .section-image {
    float: bottom;
  }
}
@media only screen and (max-width: 48em) {
  #sections {
    margin: 0;
  }
  #sections .section {
    width: 30em;
    margin: 0;
  }
  #sections .section-text {
    width: 28em;
  }
  #sections .entrypoint {
    width: 30em;
    margin: 0;
  }
  #sections .section-image {
    display: none;
  }
}
.project-image {
  float: right;
  width: 380px;
  height: 256px;
  border-radius: 5%;
}

.project-description {
  width: 50%;
  min-width: 20em;
}

.project-stack {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}
.project-stack ul {
  display: block;
  overflow: hidden;
}
.project-stack li {
  padding-right: 1em;
  float: left;
}

.project-links {
  display: inline-block;
  list-style: none;
  padding-left: 0;
}
.project-links ul {
  display: block;
  overflow: hidden;
}
.project-links li {
  padding-right: 1em;
  float: left;
}

.project-block {
  font-size: 24px;
  padding-top: 50px;
}

.project-block-end {
  padding-bottom: 50px;
}

.project-block-end:before {
  font-size: 24px;
}

@media only screen and (max-width: 48em) {
  #sections {
    padding-left: 0em;
  }
  #sections .project-image {
    display: none;
  }
}
@media only screen and (max-width: 80em) {
  #sections {
    padding-left: 0em;
  }
  #sections .project-image {
    float: none;
  }
}
html {
  scroll-behavior: smooth;
}

#all {
  min-height: 100%;
  position: relative;
}

body {
  font-family: monaco, Consolas, Lucida Console, monospace;
  font-size: 18px;
  color: #CCCCCC;
  background-color: #1F1F1F;
}
body a:link {
  text-decoration: none;
}

html, body {
  height: 100%;
}

:root {
  --scroll: 0;
}

a {
  color: #7CDCF0;
  border-radius: 4px;
  text-decoration: none;
  -o-transition: background-color 0.1s ease-in;
  -ms-transition: background-color 0.1s ease-in;
  -moz-transition: background-color 0.1s ease-in;
  -webkit-transition: background-color 0.1s ease-in;
  transition: color 0.1s ease-out, background-color 0.1s ease-in;
}

a:hover {
  background-color: #264F78;
}

/*# sourceMappingURL=index.css.map */
